<!DOCTYPE html>
<html ng-app="AngularChromeEx" ng-csp>
  <head>
    <title>Insurance Checker</title>
    <link rel="stylesheet" type="text/css" href="styles/ic-style.css" />
    <link rel="stylesheet" type="text/css" href="styles/ic-login.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/ic-insurance-list.css"
    />
    <link rel="stylesheet" type="text/css" href="styles/ic-checkbox.css" />
    <link rel="stylesheet" type="text/css" href="styles/scroll.css" />
    <script src="scripts/libs/jquery-3.6.0.min.js"></script>
    <script src="scripts/libs/angular.min.js"></script>
    <script src="scripts/constants.js"></script>
    <script src="scripts/service-runtime.js"></script>
    <script src="scripts/angular-app.js"></script>

    <script src="scripts/functions.js"></script>
    <script src="scripts/popup.js"></script>
  </head>
  <body ng-controller="pagerCtrl">
    <div class="main-wrapper">
      <div class="ic-options-menu ic-card">
        <div class="logo-icon">
          <img
            src="./icons/mycrm-logo.png"
            alt="insuranc-checker"
            width="65px"
            height="20px"
          />
          <span class="ic-app-title">Insurance Checker</span>
        </div>
        <div class="menu-icon" title="menu">
          <div class="dropdown">
            <button class="dropbtn">
              <img src="./assets/menu-solid.png" class="menus-bar" />
            </button>
            <div class="dropdown-content">
              <a href="#" ng-if="doneSetup">Update Credentials</a>
              <a href="#" ng-if="!doneSetup" ng-click="gettingStarted();"
                >Setting up</a
              >
              <a href="#">Guide</a>
              <a href="#">Settings</a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-profile-container">
        <div
          class="ic-profile-section ic-card-unique"
          ng-class="{'hide-profile': isHideProfile}"
        >
          <div class="ic-main-details">
            <div class="profile-avatar">
              <img
                src="./assets/avatar-new.png"
                alt="avatar-checker"
                class="avatar-checker"
              />
            </div>
            <div class="ic-profile-details">
              <span>James Punnett</span>
              <span class="small-details">ADVISER</span>
            </div>
          </div>
          <div class="ic-profile-sync">
            <div class="sync-info">
              <div class="client-menus" ng-click="resyncData()" role="button">
                <img
                  src="./assets/sync.png"
                  alt="refresh-sync-data"
                  width="18px"
                  height="18px"
                  class="refresh-sync-data"
                  ng-class="{'is-resync': isResync}"
                />
              </div>
            </div>
            <div class="sync-info">
              <span class="small-details">Last sync</span>
              <span class="small-details date-details">1 Day ago.</span>
            </div>
          </div>
        </div>
        <div class="ic-profile-dragger" ng-click="toggleProfile();">
          {{ !isHideProfile ? 'hide' : 'show' }} my profile
          <div class="caret">
            <img
              class="caret-icon"
              ng-class="{'rotate-caret': isHideProfile}"
              src="./assets/caret-up-solid.svg"
              width="15px"
              height="15px"
            />
          </div>
        </div>
      </div>

      <div class="insurer-list" ng-if="!isGettingStarted">
        <div class="insurance__content">
          <div class="insurance__card__info">
            <div class="insurance__card_user_section">
              <div class="insurance__card_info_holder">
                <div class="insurance__card_details_holder">
                  <div class="insurance__card_avatar_holder">
                    <img
                      src="./assets/avatar-new.png"
                      class="card_img_avatar"
                      width="65px"
                      height="65px"
                    />
                  </div>
                  <div class="insurance__card_name_details">
                    <span class="client_fname">Jane Norto</span>
                    <span>sample@gmail.com</span>
                    <div class="client_dob_gender">
                      <span>Male</span>
                      <span class="diver-bullet">&#8226;</span>
                      <span>July 13, 1994</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="insurance_container_providers">
              <div class="insurance__card_provider_info">
                <div class="insurance__card_info_details">
                  <div class="insurance__card_logo_holder">
                    <img src="./assets/insurers/6.png" class="insurer-logo" />
                    <div class="insurer_stats">
                      <span class="insurance_benefits_name">Partners Life</span>
                      <span class="insurance_status">In -force</span>
                    </div>
                  </div>

                  <div class="insurance_compare_button">
                    <button
                      class="btn-view"
                      ng-click="openComparison({'name': 'sada'})"
                    >
                      compare
                    </button>
                  </div>
                </div>
                <div class="insurance__card_benefits_list">
                  <span class="cover_name">Life Cover $1000</span>
                  <span class="cover_name">Trauma Cover $1000</span>
                  <span class="cover_name">Income Protection $1000</span>
                </div>
              </div>
              <div class="insurance__card_provider_info">
                <div class="insurance__card_info_details">
                  <div class="insurance__card_logo_holder">
                    <img src="./assets/insurers/4.png" class="insurer-logo" />
                    <div class="insurer_stats">
                      <span class="insurance_benefits_name">Asteron Life</span>
                      <span class="insurance_status">In -force</span>
                    </div>
                  </div>

                  <div class="insurance_compare_button">
                    <button class="btn-view">
                      compare
                    </button>
                  </div>
                </div>
                <div class="insurance__card_benefits_list">
                  <span class="cover_name">Life Cover $1000</span>
                  <span class="cover_name">Trauma Cover $1000</span>
                  <span class="cover_name">Income Protection $1000</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END CLIENT PROFILE -->
      <!-- Start Login provider -->
      <div class="login_list" ng-if="isGettingStarted">
        <div class="login_form_wrapper">
          <div class="login_message">
            <p>
              Don't worry everything will be encrypted all personal information
              safe and secure.
            </p>
          </div>
          <div
            class="login_form_type"
            ng-repeat="insuranceConnect in insuranceLoginList track by $index"
            ng-class="{'is-connected': insuranceConnect.isConnected}"
          >
            <div class="login_header">
              <div class="login_insurer_avatart">
                <img
                  width="68px"
                  height="39px"
                  ng-src="{{'./assets/insurers/'+insuranceConnect.id+'.png'}}"
                />
                <span class="login_insurer_name"
                  >{{insuranceConnect.providerName}}</span
                >
                <div
                  class="login_connected_icon"
                  ng-if="insuranceConnect.isConnected"
                >
                  <img
                    width="48px"
                    height="48px"
                    class="insuranceConnect_icon"
                    src="./assets/is-connected.svg"
                  />
                  <span class="login_status_label">Connected</span>
                </div>
              </div>
            </div>
            <div class="login_body">
              <div class="login_fields">
                <div class="login_fields_group">
                  <label>Username/email</label>
                  <input type="text" placeholder="type here.." />
                </div>
                <div class="login_fields_group">
                  <label>Password</label>
                  <input type="password" placeholder="type here.." />
                </div>
                <div class="login_fields_group buttons">
                  <button ng-if="!insuranceConnect.isConnected">connect</button>
                  <button ng-if="insuranceConnect.isConnected">Update</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End Login provider -->

      <div class="ic-footer">
        <div class="container-footer" ng-if="!isGettingStarted">
          <span>If data not properly sync click me</span>
          <div class="client-menus" ng-click="resyncData()" role="button">
            <img
              src="./assets/sync.png"
              alt="refresh-sync-data"
              width="18px"
              height="18px"
              class="refresh-sync-data"
              ng-class="{'is-resync': isResync}"
            />
          </div>
        </div>
        <div class="container-footer" ng-if="isGettingStarted">
          <a ng-click="gettingStarted();"><< Back To List</a>
        </div>
      </div>
    </div>
  </body>
</html>
