<!DOCTYPE html>
<html ng-app="AngularChromeEx" ng-csp>
  <head>
    <title>Insurance Checker</title>
    <link rel="stylesheet" type="text/css" href="styles/ic-style.css" />
    <link rel="stylesheet" type="text/css" href="styles/ic-loadings.css" />
    <link rel="stylesheet" type="text/css" href="styles/ic-login.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="styles/ic-insurance-list.css"
    />
    <link rel="stylesheet" type="text/css" href="styles/ic-checkbox.css" />
    <link rel="stylesheet" type="text/css" href="styles/scroll.css" />
    <script src="scripts/libs/jquery-3.6.0.min.js"></script>
    <script src="scripts/libs/angular.min.js"></script>
    <script src="scripts/constants.js"></script>
    <script src="scripts/in-memory-scrapping/services.js"></script>
    <script src="scripts/service-runtime.js"></script>
    <script src="scripts/angular-app.js"></script>

    <script src="scripts/functions.js"></script>
    <script src="scripts/popup.js"></script>
  </head>
  <body ng-controller="pagerCtrl">
    <div class="main-wrapper">
      <div class="ic-options-menu ic-card">
        <div class="logo-icon">
          <img
            src="./icons/mycrm-logo.png"
            alt="insuranc-checker"
            width="65px"
            height="20px"
          />
          <span class="ic-app-title">Insurance Checker</span>
        </div>
        <div class="menu-icon" title="menu">
          <div class="dropdown">
            <button class="dropbtn">
              <img src="./assets/menu-solid.png" class="menus-bar" />
            </button>
            <div class="dropdown-content">
              <a href="#" ng-if="doneSetup">Update Credentials</a>
              <a href="#" ng-if="!doneSetup" ng-click="gettingStarted();">
                <span ng-if="isGettingStarted">&#8592; Back To List</span>
                <span ng-if="!isGettingStarted">Setting up</span>
              </a>
              <a href="#">Guide</a>
              <a href="#">Settings</a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-profile-container">
        <div
          class="ic-profile-section ic-card-unique"
          ng-class="{'hide-profile': isHideProfile}"
        >
          <div class="ic-main-details">
            <div class="profile-avatar">
              <img
                src="./assets/avatar-new.png"
                alt="avatar-checker"
                class="avatar-checker"
              />
            </div>
            <div class="ic-profile-details">
              <span>{{adviserPreferredFullName}}</span>
              <span class="small-details">{{adviserAccessType}}</span>
            </div>
          </div>
          <div class="ic-profile-sync">
            <div class="sync-info">
              <div class="client-menus" ng-click="resyncData()" role="button">
                <img
                  src="./assets/sync.png"
                  alt="refresh-sync-data"
                  width="18px"
                  height="18px"
                  class="refresh-sync-data"
                  ng-class="{'is-resync': isResync}"
                />
              </div>
            </div>
            <div class="sync-info">
              <span class="small-details">Last sync</span>
              <span class="small-details date-details">1 Day ago.</span>
            </div>
          </div>
        </div>
        <div class="ic-profile-dragger" ng-click="toggleProfile();">
          <span ng-if="isHideProfile"> show my profile</span>
          <span ng-if="!isHideProfile">hide my profile</span>
          <div class="caret">
            <img
              class="caret-icon"
              ng-class="{'rotate-caret': isHideProfile}"
              src="./assets/caret-up-solid.svg"
              width="15px"
              height="15px"
            />
          </div>
        </div>
      </div>

      <div class="insurer-list" ng-if="!isGettingStarted">
        <div class="existing_label">
          <h2>Existing Insurances</h2>
        </div>
        <div
          class="insurance__content"
          ng-repeat="clients in clientsAndBenefits track by $index"
        >
          <div class="insurance__card__info">
            <div class="insurance__card_user_section">
              <div class="insurance__card_info_holder">
                <div class="insurance__card_details_holder">
                  <div class="insurance__card_profile_wrapper">
                    <div class="insurance__card_avatar_holder">
                      <div class="insurance__card_names">
                        <div class="insurance__card_name_prefix">
                          {{clients.initialName}}
                        </div>
                        <span class="client_fname">
                          {{clients.fullName}}
                        </span>
                      </div>
                      <span class="client_is_primary" ng-if="clients.isPrimary">
                        PRIMARY
                      </span>
                    </div>
                    <div class="insurance__card_name_details">
                      <span>email: {{clients.email}}</span>
                      <div class="client_dob_gender">
                        <span>Gender: {{clients.gender}}</span>
                        <span>DOB: {{clients.dateOfBirth}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="insurance_container_providers">
              <div
                class="insurance__card_provider_info"
                ng-repeat="insurance in clients.myBenefits track by $index"
              >
                <div class="insurance__card_info_details">
                  <div class="insurance__card_logo_holder">
                    <img
                      ng-src="{{'./assets/insurers/'+insurance.providerID+'.png'}}"
                      class="insurer-logo"
                    />
                    <div class="insurer_stats">
                      <span class="insurance_benefits_name"
                        >{{insurance.providerName}}</span
                      >
                      <span class="insurance_status"
                        >{{insurance.statusName}}
                      </span>
                    </div>
                  </div>

                  <div class="insurance_compare_button">
                    <button
                      class="btn-view"
                      ng-if="!insurance.isSync"
                      ng-click="openComparison({insurance, clients}, $index)"
                    >
                      compare
                    </button>
                    <div class="switch_container" ng-if="insurance.isSync">
                      <span class="loading-status">Syncing....</span>
                      <div class="circleloader"></div>
                    </div>
                  </div>
                </div>
                <div class="insurance__card_benefits_list">
                  <span class="insurance_status">
                    Policy Number: {{insurance.policyNumberLimited}}</span
                  >
                </div>
                <div
                  class="insurance__card_benefits_list"
                  ng-repeat="covers in insurance.benefitDetails"
                  ng-if="covers.familyClientID === clients.personId"
                >
                  <span class="cover_name">
                    {{covers.benefitName}} {{covers.coverAmount | currency : '$'
                    : 2}} - (
                    <span class="cover_name_client"
                      >{{ covers.firstName}}{{ covers.lastName}}</span
                    >)
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END CLIENT PROFILE -->

      <!-- Start Login provider -->
      <div class="login_list" ng-if="isGettingStarted">
        <div class="login_form_wrapper">
          <div class="login_message">
            <p>
              Don't worry everything will be encrypted all personal information
              safe and secure.
            </p>
          </div>
          <div
            class="login_form_type"
            ng-repeat="insuranceConnect in insuranceLoginList track by $index"
            ng-class="{'is-connected': insuranceConnect.isConnected}"
          >
            <div class="login_header">
              <div class="login_insurer_avatart">
                <div class="logo_status_labels">
                  <div class="logo_holder">
                    <img
                      width="68px"
                      height="39px"
                      ng-src="{{'./assets/insurers/'+insuranceConnect.id+'.png'}}"
                    />
                    <span class="login_insurer_name"
                      >{{insuranceConnect.providerName}}</span
                    >
                  </div>
                </div>

                <div
                  class="login_connected_icon"
                  ng-if="insuranceConnect.isConnected && !insuranceConnect.isSyncing"
                >
                  <img
                    width="44px"
                    height="44px"
                    class="insuranceConnect_icon"
                    src="./assets/is-connected.svg"
                  />
                  <span class="login_status_label">Connected</span>
                  <span class="login_insurer_date_connected">
                    Jan 15, 2021
                  </span>
                </div>
                <div
                  class="switch_container"
                  ng-if="insuranceConnect.isSyncing"
                >
                  <span class="loading-status login_status_sync"
                    >checking to connect {{insuranceConnect.providerName}}
                    account....</span
                  >
                  <div class="circleloader"></div>
                </div>
              </div>
            </div>
            <div class="login_body">
              <div
                ng-if="!!insuranceConnect.message"
                class="login_error_message"
              >
                <p>{{insuranceConnect.message}}</p>
              </div>

              <div class="login_fields">
                <div class="login_fields_group">
                  <label>Username/email</label>
                  <input
                    type="text"
                    ng-model="insuranceConnect.username"
                    name="username"
                    placeholder="type here.."
                  />
                </div>
                <div class="login_fields_group">
                  <label>Password</label>
                  <input
                    type="password"
                    ng-model="insuranceConnect.password"
                    name="password"
                    placeholder="type here.."
                  />
                </div>
                <div class="login_fields_group buttons">
                  <button
                    ng-if="!insuranceConnect.isConnected"
                    ng-click="connectToProvider('first', insuranceConnect, $index)"
                    ;
                  >
                    {{ insuranceConnect.isSyncing ? 'Please wait....' :
                    'Connect'}}
                  </button>
                  <button
                    ng-if="insuranceConnect.isConnected"
                    ng-click="connectToProvider('update', insuranceConnect, $index)"
                    ;
                  >
                    {{ insuranceConnect.isSyncing ? 'Please wait....' :
                    'Update'}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- End Login provider -->

      <div class="ic-footer">
        <div class="container-footer" ng-if="!isGettingStarted">
          <span>If data not properly sync click me</span>
          <div class="client-menus" ng-click="resyncData()" role="button">
            <img
              src="./assets/sync.png"
              alt="refresh-sync-data"
              width="18px"
              height="18px"
              class="refresh-sync-data"
              ng-class="{'is-resync': isResync}"
            />
          </div>
        </div>
        <div class="container-footer" ng-if="isGettingStarted">
          <a ng-click="gettingStarted();">&#8592; Back To List</a>
        </div>
      </div>
    </div>
  </body>
</html>
