<!DOCTYPE html>
<html ng-app="AngularChromeEx" ng-csp>
  <head>
    <title>Insurance Checker</title>
    <link rel="stylesheet" type="text/css" href="styles/ic-style.css" />
    <link rel="stylesheet" type="text/css" href="styles/ic-card.css" />
    <link rel="stylesheet" type="text/css" href="styles/ic-checkbox.css" />
    <link rel="stylesheet" type="text/css" href="styles/scroll.css" />
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/angular-app.js"></script>
    <script src="scripts/jquery-3.6.0.min.js"></script>
    <script src="scripts/animate-card.js"></script>
    <!-- <script src="scripts/functions.js"></script>
    <script src="scripts/popup.js"></script>
    <script src="scripts/eventsToggle.js"></script> -->
  </head>
  <body ng-controller="pagerCtrl">
    <div class="main-wrapper">
      <div class="ic-options-menu ic-card">
        <div class="logo-icon">
          <img
            src="./icons/mycrm-logo.png"
            alt="insuranc-checker"
            width="65px"
            height="20px"
          />
          <span class="ic-app-title">Insurance Checker</span>
        </div>
        <div class="menu-icon" title="menu">
          <div class="dropdown">
            <button class="dropbtn">
              <img src="./assets/menu-solid.png" class="menus-bar" />
            </button>
            <div class="dropdown-content">
              <a href="#">Update Credentials</a>
              <a href="#">Guide</a>
              <a href="#">Settings</a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-profile-container">
        <div
          class="ic-profile-section ic-card-unique"
          ng-class="{'hide-profile': isHideProfile}"
        >
          <div class="ic-main-details">
            <div class="profile-avatar">
              <img
                src="./assets/avatar-new.png"
                alt="avatar-checker"
                class="avatar-checker"
              />
            </div>
            <div class="ic-profile-details">
              <span>James Punnett</span>
              <span class="small-details">ADVISER</span>
            </div>
          </div>
          <div class="ic-profile-sync">
            <div class="sync-info">
              <div class="client-menus" ng-click="resyncData()" role="button">
                <img
                  src="./assets/sync.png"
                  alt="refresh-sync-data"
                  width="18px"
                  height="18px"
                  class="refresh-sync-data"
                  ng-class="{'is-resync': isResync}"
                />
              </div>
            </div>
            <div class="sync-info">
              <span class="small-details">Last sync</span>
              <span class="small-details date-details">1 Day ago.</span>
            </div>
          </div>
        </div>
        <div class="ic-profile-dragger" ng-click="toggleProfile();">
          {{ !isHideProfile ? 'hide' : 'show' }} my profile
          <div class="caret">
            <img
              class="caret-icon"
              ng-class="{'rotate-caret': isHideProfile}"
              src="./assets/caret-up-solid.svg"
              width="15px"
              height="15px"
            />
          </div>
        </div>
      </div>
      <!-- START CLIENT PROFILE -->
      <!-- <div class="ic-clients-list" ng-class="{'is-empty': !hasData}">
        <div class="no-clients" ng-if="!hasData">
          <div class="no-clients-wrapper">
            <div class="no-clients-crm-logo">
              <img src="./icons/mycrm-logo.png" height="50px" width="165px" />
            </div>
            <div class="no-clients-msg">
              <span>Please make sure to select a client.</span>
            </div>
          </div>
        </div>
        <div
          class="client-card"
          ng-if="hasData"
          ng-repeat="client in insuranceList track by $index"
        >
          <div class="c-header">
            <div class="c-information">
              <div class="client-avatar">
                <img
                  src="./assets/avatar-new.png"
                  alt="avatar-checker"
                  width="35px"
                  height="35px"
                  class="c-reavatar"
                />
              </div>
              <div class="c-names">
                <div class="client-details">
                  <span>{{client.clientDetails.ClientFirstName}}</span>
                  <span>{{client.clientDetails.ClientLastName}}</span>
                </div>
              </div>
            </div>
            <div class="c-information">
              <div class="c-names">
                <div class="client-details ">
                  <span>{{client.clientDetails.ClientFirstName}}</span>
                  <span>{{client.clientDetails.ClientLastName}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="c-content">
            <div
              class="inurance-list"
              ng-repeat="insurer in client.insurers track by $index"
            >
              <div class="ins-details">
                <div class="ins-logo-details">
                  <img
                    ng-src="./assets/insurers/{{insurer.ProviderID}}.png"
                    alt="insurers "
                    class="c-ins-logo"
                  />
                </div>
                <div class="ins-name-details">
                  <span class="provider-name">{{insurer.ProviderName}}</span>
                  <span class="cover-price">${{insurer.TotalPremiums}}</span>
                  <div class="ins-list-cover">
                    <div class="card__face__path"></div>
                    <div class="card__face__from-to">
                      <p>W Life cover</p>
                      <p>E Trauma Cover</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="ins-button-details">
                <button class="view-details" ng-click="viewDetails(insurer)">
                  View
                </button>
              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="insurer-list">
        <div class="phone__content">
          <section
            ng-repeat="card in cards"
            class="card theme-{{card.themeColor}}"
            data-color="{{card.themeColorHex}}"
          >
            <div class="card__map">
              <div class="card__map__inner"></div>
            </div>
            <section class="card__part card__part-1">
              <div class="card__part__inner">
                <header class="card__header">
                  <div class="card__header__close-btn"></div>
                  <span class="card__header__id"># {{card.id}}</span>
                  <span class="card__header__price">${{card.price}}</span>
                </header>
                <div
                  class="card__stats"
                  ng-style="{'background-image': 'url({{card.bgImgUrl}})'}"
                >
                  <div class="card__stats__item card__stats__item--req">
                    <p class="card__stats__type">Requests</p>
                    <span class="card__stats__value">{{card.requests}}</span>
                  </div>
                  <div class="card__stats__item card__stats__item--pledge">
                    <p class="card__stats__type">Pledge</p>
                    <span class="card__stats__value">${{card.pledge}}</span>
                  </div>
                  <div class="card__stats__item card__stats__item--weight">
                    <p class="card__stats__type">Weight</p>
                    <span class="card__stats__value">{{card.weight}} oz</span>
                  </div>
                </div>
              </div>
            </section>
            <section class="card__part card__part-2">
              <div class="card__part__side m--back">
                <div class="card__part__inner card__face">
                  <div class="card__face__colored-side"></div>
                  <div class="card__face__main-info">
                    <div class="card__face__deliv-date">
                      <p>Mark XxxXxxx</p>
                    </div>
                    <div class="card__face__client-info">
                      <div class="card__face__stats card__face__stats--req">
                        Gender
                        <p>{{card.requests}}</p>
                      </div>
                      <div class="card__face__stats card__face__stats--pledge">
                        DOB
                        <p>${{card.pledge}}</p>
                      </div>
                      <div class="card__face__stats card__face__stats--weight">
                        Email
                        <p class="card__face__stats__weight">
                          <span>Light</span>
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="card__face__insurer-logo">
                    <img
                      src="./assets/insurers/1.png"
                      width="52px"
                      height="29px"
                    />
                    <p class="card__face__insurer-name">AIA</p>
                  </div>
                  <div class="card__face__path"></div>
                  <div class="card__face__from-to">
                    <p>Life Cover - 150px</p>
                    <p>Trauma Cover - 150px</p>
                  </div>
                </div>
              </div>
              <div class="card__part__side m--front">
                <div class="card__sender">
                  <h4 class="card__sender__heading">Sender</h4>
                  <div class="card__sender__img-cont">
                    <div class="card__sender__img-cont__inner">
                      <img
                        ng-src="{{card.senderImg}}"
                        class="card__sender__img"
                      />
                    </div>
                  </div>
                  <div class="card__sender__name-and-rating">
                    <p class="card__sender__name">{{card.sender}}</p>
                    <p
                      class="card__sender__rating card__sender__rating-{{card.rating}}"
                    >
                      <span class="card__sender__rating__star">&#9733;</span>
                      <span class="card__sender__rating__star">&#9733;</span>
                      <span class="card__sender__rating__star">&#9733;</span>
                      <span class="card__sender__rating__star">&#9733;</span>
                      <span class="card__sender__rating__star">&#9733;</span>
                      <span class="card__sender__rating__count"
                        >({{card.ratingCount}})</span
                      >
                    </p>
                    <p class="card__sender__address">
                      {{card.fromStreet}}, {{card.fromCity}}
                    </p>
                  </div>
                  <div class="card__receiver">
                    <div class="card__receiver__inner">
                      <div class="card__sender__img-cont">
                        <div class="card__sender__img-cont__inner">
                          <img
                            ng-src="{{card.senderImg}}"
                            class="card__sender__img"
                          />
                        </div>
                      </div>
                      <div class="card__sender__name-and-rating">
                        <p class="card__sender__name">{{card.sender}}</p>
                        <p class="card__sender__address">
                          {{card.toStreet}}, {{card.toCity}}
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="card__path-big"></div>
                </div>
                <div class="card__from-to">
                  <div class="card__from-to__inner">
                    <div class="card__text card__text--left">
                      <p class="card__text__heading">From</p>
                      <p class="card__text__middle">{{card.fromStreet}}</p>
                      <p class="card__text__bottom">{{card.fromCity}}</p>
                    </div>
                    <div class="card__text card__text--right">
                      <p class="card__text__heading">To</p>
                      <p class="card__text__middle">{{card.toStreet}}</p>
                      <p class="card__text__bottom">{{card.toCity}}</p>
                    </div>
                  </div>
                </div>
                <section class="card__part card__part-3">
                  <div class="card__part__side m--back"></div>
                  <div class="card__part__side m--front">
                    <div class="card__timings">
                      <div class="card__timings__inner">
                        <div class="card__text card__text--left">
                          <p class="card__text__heading">Delivery Date</p>
                          <p class="card__text__middle">
                            {{card.delivTime}}
                          </p>
                          <p class="card__text__bottom">
                            {{card.delivTime}}
                          </p>
                        </div>
                        <div class="card__text card__text--right">
                          <p class="card__text__heading">
                            Request Deadline
                          </p>
                          <p class="card__text__middle">{{card.reqDl}}</p>
                        </div>
                      </div>
                    </div>
                    <div class="card__timer">60 min 00 sec</div>
                    <section class="card__part card__part-4">
                      <div class="card__part__side m--back"></div>
                      <div class="card__part__side m--front">
                        <button type="button" class="card__request-btn">
                          <span class="card__request-btn__text-1">Request</span>
                          <span class="card__request-btn__text-2">Start</span>
                        </button>
                        <p class="card__counter">
                          {{card.requests}} people have sent a request
                        </p>
                      </div>
                    </section>
                  </div>
                </section>
              </div>
            </section>
          </section>
        </div>
      </div>
      <!-- END CLIENT PROFILE -->

      <div class="ic-footer">
        <span>If data not properly sync click me</span>
        <div class="client-menus" ng-click="resyncData()" role="button">
          <img
            src="./assets/sync.png"
            alt="refresh-sync-data"
            width="18px"
            height="18px"
            class="refresh-sync-data"
            ng-class="{'is-resync': isResync}"
          />
        </div>
      </div>
    </div>
  </body>
</html>
