.switch_container {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

.circleloader {
  position: relative;
  box-sizing: border-box;
  top: 0;
  border-radius: 16px;
  width: 80px;
  height: 20px;
  padding: 4px;
  background: #cfc6d8;
}
.circleloader:before {
  content: '';
  position: absolute;
  border-radius: 16px;
  width: 20px;
  height: 12px;
  left: 0;
  background: #9a86a8;
  -webkit-animation: push 1s infinite linear;
  animation: push 1s infinite linear;
}

@-webkit-keyframes push {
  50% {
    left: 56px;
  }
}
@keyframes push {
  50% {
    left: 56px;
  }
}

.loading-status {
  font-size: 11px;
}
