* {
  box-sizing: border-box;
}

html,
body {
  height: auto;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
  height: auto;
  padding: 1em;
}

.checkbox {
  display: none;
}

.checkbox + label {
  display: inline-block;
  position: relative;
  width: 85px;
  height: 30px;
  background: linear-gradient(
      to right,
      #c7c7c7 0,
      #c6c3d3 45%,
      #5e4bb4 55%,
      #5a4d97 100%
    )
    0 0;
  background-size: 650px 100%;
  border-radius: 70px;
  padding: 7px;
  cursor: pointer;
  transition: all 500ms ease;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2) inset;
}
.checkbox + label:before {
  content: 'Off';
  width: 28px;
  height: 28px;
  position: absolute;
  left: 2px;
  top: 1px;
  border-radius: 100%;
  background: #fff;
  text-align: center;
  line-height: 30px;
  font-family: 'Cabin', sans-serif;
  font-size: 9px;
  font-weight: bold;
  color: #494753;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: left 500ms ease, color 500ms ease, transform 150ms ease;
}
.checkbox + label:active:before {
  transform: scale(0.95);
}

.checkbox:checked + label {
  background-position-x: -350px;
}
.checkbox:checked + label:before {
  content: 'On';
  color: #1c1d1d;
  left: 55px;
}

.logo-status {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px #576475 solid;
  border-radius: 100%;
  width: 150px;
  justify-content: center;
}
.logo-status label {
  font-size: 12px;
  font-weight: 500;
  color: #333;
}
.logo-status img {
  filter: invert(0.5);
  width: 118px;
}
.switch-status {
  margin-top: 1em;
}
